/* line 2, ../sass/style.scss */
* {
  font-family: Microsoft yahei;
  margin: 0;
  box-sizing: border-box;
}

/* line 7, ../sass/style.scss */
body {
  color: #2b4965;
  background: #f0f2f5;
  font-size: 14px;
  font-family: 'microsoft yahei,tahoma,arial,sans-serif';
}
/* line 12, ../sass/style.scss */
body .clearfix {
  *zoom: 1;
}
/* line 15, ../sass/style.scss */
body .clearfix:before, body .clearfix:after {
  display: table;
  clear: both;
  content: " ";
}
/* line 20, ../sass/style.scss */
body .main-bg {
  width: 100%;
  background: url("../images/main-bg.jpg") no-repeat top center;
}
/* line 23, ../sass/style.scss */
body .main-bg header {
  width: 1000px;
  margin: 0 auto;
}
/* line 26, ../sass/style.scss */
body .main-bg header img {
  float: left;
}
/* line 29, ../sass/style.scss */
body .main-bg header ul {
  float: left;
  line-height: 70px;
  text-align: center;
  padding-left: 12px;
}
/* line 34, ../sass/style.scss */
body .main-bg header ul li {
  list-style: none;
  float: left;
  vertical-align: middle;
  padding: 0px 15px 0px 13px;
}
/* line 39, ../sass/style.scss */
body .main-bg header ul li a {
  font-size: 15px;
  color: #092d4f;
  text-decoration: none;
  height: 75px;
  padding: 24px 0 0 3px;
}
/* line 47, ../sass/style.scss */
body .main-bg header ul li a:hover {
  color: #ff8e00;
  height: 80px;
}
/* line 51, ../sass/style.scss */
body .main-bg header ul li .menu-hide {
  display: none;
  width: 100%;
  min-height: 200px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 70px;
  overflow: visible;
  background-color: rgba(0, 97, 169, 0.95);
}
/* line 61, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container {
  width: 800px;
  margin: 0 0 0 180px;
}
/* line 65, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-left {
  max-width: 330px;
  margin-right: 80px;
  float: left;
  padding-top: 20px;
  height: 80px;
  margin-bottom: 20px;
}
/* line 72, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-left p {
  font-size: 18px;
  line-height: 18px;
  color: #70baff;
  text-align: left;
  padding-bottom: 7px;
}
/* line 79, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-left div {
  border-top: 1px solid #3d86bd;
  position: relative;
  top: 5px;
  text-align: left;
}
/* line 84, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-left div a {
  float: left;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  padding: 0px 20px 20px 0;
  position: relative;
  top: -20px;
  height: 13px;
  margin-bottom: 10px;
}
/* line 95, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-left div a:hover {
  color: #ff8e00;
}
/* line 100, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-sale {
  width: 145px;
}
/* line 103, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-img-plan {
  position: relative;
  left: 530px;
  top: -130px;
}
/* line 108, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-img-order {
  position: relative;
  left: 350px;
  top: -30px;
}
/* line 113, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-img-holiday {
  position: relative;
  left: 250px;
  top: -23px;
}
/* line 118, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-img-vip {
  position: relative;
  left: 450px;
  top: -60px;
}
/* line 123, ../sass/style.scss */
body .main-bg header ul li .menu-hide .hide-container .hide-img-favorable {
  position: relative;
  top: -180px;
  left: 600px;
}
/* line 130, ../sass/style.scss */
body .main-bg header ul li .menu-hide-plan {
  height: 200px;
}
/* line 133, ../sass/style.scss */
body .main-bg header ul li .menu-hide-order {
  height: 255px;
}
/* line 136, ../sass/style.scss */
body .main-bg header ul li .menu-hide-holiday {
  height: 200px;
}
/* line 139, ../sass/style.scss */
body .main-bg header ul li .menu-hide-vip {
  height: 230px;
}
/* line 142, ../sass/style.scss */
body .main-bg header ul li .menu-hide-favorable {
  height: 240px;
}
/* line 147, ../sass/style.scss */
body .main-bg header .transport_num {
  float: left;
  margin-top: 8px;
}
/* line 151, ../sass/style.scss */
body .main-bg header .search {
  float: left;
  background: #00457b;
  width: 104px;
  height: 34px;
  margin: 18px 10px 0 30px;
  border-radius: 17px;
  padding-left: 17px;
}
/* line 159, ../sass/style.scss */
body .main-bg header .search input {
  width: 60px;
  height: 32px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: "Microsoft yahei";
  color: #999;
}
/* line 169, ../sass/style.scss */
body .main-bg header .search img {
  margin-top: 7px;
  margin-right: 7px;
  float: right;
}
/* line 175, ../sass/style.scss */
body .main-bg header .country {
  float: left;
  background: #00457b;
  width: 77px;
  height: 34px;
  margin: 18px 0px;
  border-radius: 17px;
  color: #ff8e00;
  padding: 7px 10px;
}
/* line 185, ../sass/style.scss */
body .main-bg header .tel {
  float: left;
  width: 34px;
  height: 34px;
  margin: 18px;
  border-radius: 17px;
  background-image: url(../images/headset.png);
}
/* line 193, ../sass/style.scss */
body .main-bg header .person {
  float: left;
  width: 34px;
  height: 34px;
  margin: 18px 0 8px 0px;
  border-radius: 17px;
  background-color: #00457b;
  background-image: url(../images/nav_person.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 205, ../sass/style.scss */
body .main-bg .container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}
/* line 209, ../sass/style.scss */
body .main-bg .container .left-container {
  width: 41.66667%;
  height: 550px;
  float: left;
  margin-bottom: 30px;
}
/* line 214, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 {
  width: 100%;
  border-radius: 5px;
  background-image: url(../images/main-bg-mask.png);
}
/* line 218, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-top {
  border-radius: 2px;
}
/* line 220, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-top ul {
  height: 40px;
  padding: 0;
}
/* line 223, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-top ul li {
  float: left;
  width: 33.33333%;
  list-style: none;
  background-image: url(../images/home-air-order.png);
  background-repeat: no-repeat;
  height: 40px;
  padding: 10px 8px 10px 60px;
  color: #96b4d0;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 235, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-top ul .book {
  background-position: 20px -49px;
  color: #fff;
  background-color: transparent;
}
/* line 242, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-top ul .online {
  background-position: -130px -1px;
}
/* line 245, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-top ul .airnews {
  background-position: -260px 0px;
}
/* line 250, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-middle {
  width: 300px;
  margin: 10px;
}
/* line 253, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-middle div {
  margin-top: 10px;
  margin-right: 20px;
  float: left;
}
/* line 257, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-middle div .radio {
  width: 20px;
  height: 20px;
  background: url(../images/radios_yellow.png) no-repeat -63px -7px;
  margin-right: 5px;
}
/* line 263, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-middle div label {
  float: left;
  margin-top: 10px;
  color: #fff;
}
/* line 270, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-middle .active .radio {
  background: url(../images/radios_yellow.png) no-repeat -14px -7px;
}
/* line 275, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom {
  margin: 15px 10px;
}
/* line 277, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div {
  float: left;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 20px;
}
/* line 286, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div i {
  float: left;
  width: 36px;
  display: inline-block;
  height: 40px;
  background: url("../images/icons-s629bad6460.png");
}
/* line 294, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div input {
  margin-left: 10px;
  float: left;
  width: 128px;
  height: 40px;
  border: 0;
  background: transparent;
  outline: none;
  font-size: 14px;
  font-family: Microsoft yahei;
  font-weight: 100;
  color: #fff;
}
/* line 309, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div input::-webkit-input-placeholder {
  color: #fff;
}
/* line 312, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div #retime {
  display: none;
  padding-left: 15px;
  border-left: 1px solid #0165af;
}
/* line 317, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .start {
  background-position: 0 -2300px;
}
/* line 320, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .start:hover {
  background-position: 0 -2350px;
}
/* line 323, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .end {
  background-position: 0 -1900px;
}
/* line 326, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .end:hover {
  background-position: 0 -1950px;
}
/* line 329, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .twoWay {
  background-position: 0 -300px;
  float: right;
}
/* line 333, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .twoWay:hover {
  background-position: 0 -350px;
}
/* line 336, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .go-time {
  background-position: 0 -2400px;
}
/* line 339, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .go-time:hover {
  background-position: 0 -2450px;
}
/* line 342, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .seat {
  background-position: 0 -2200px;
}
/* line 345, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .seat:hover {
  background-position: 0 -2250px;
}
/* line 348, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .passenger:hover {
  background-position: 0 -50px;
}
/* line 351, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .btndown {
  background: url("../images/newdownbtn.png") no-repeat;
  background-position: 0 4px;
  float: right;
}
/* line 356, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .num {
  background-position: 0 -2000px;
}
/* line 359, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom div .num:hover {
  background-position: 0 -2050px;
}
/* line 365, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .infinit label {
  position: relative;
  left: 10px;
  top: 10px;
  color: #fff;
}
/* line 371, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .infinit ul {
  z-index: 999;
  background: #fff;
  color: #155e9f;
  padding: 0px 37px 10px 37px;
  border-radius: 0 0 20px 20px;
  list-style: none;
  position: absolute;
  top: 415px;
  left: 185px;
  width: 396px;
}
/* line 382, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .infinit ul li {
  padding: 9px;
  text-align: left;
}
/* line 388, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .infinit-active {
  background: #fff;
  border-radius: 20px 20px 0 0;
}
/* line 391, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .infinit-active label {
  position: relative;
  left: 10px;
  top: 10px;
  color: #155e9f;
}
/* line 398, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-3 {
  width: 40%;
}
/* line 400, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-3 label {
  float: left;
  margin: 10px;
  color: #fff;
  font-style: normal;
}
/* line 406, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-3 span {
  float: left;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/newregulation-controll-white.png");
}
/* line 413, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-3 .person-add {
  margin-left: 30px;
  margin-top: 5px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  background-position: 0 0;
}
/* line 420, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-3 .person-add:hover {
  background-position: 0 -31px;
}
/* line 423, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-3 .person-minus {
  margin-right: 2px;
  margin-top: 5px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background-position: -26px 0px;
}
/* line 430, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-3 .person-minus:hover {
  background-position: -26px -31px;
}
/* line 434, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-0 {
  width: 40%;
  margin-left: 19%;
}
/* line 437, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-0 label {
  float: left;
  margin: 10px;
  color: #fff;
  font-style: normal;
}
/* line 443, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-0 .child {
  background-position: 0 -1700px;
}
/* line 446, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-0 .child:hover {
  background-position: 0 -1750px;
}
/* line 449, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-0 span {
  float: left;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../images/newregulation-controll-white.png");
}
/* line 456, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-0 .person-add {
  margin-left: 30px;
  margin-top: 5px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  background-position: 0 0;
}
/* line 463, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-0 .person-add:hover {
  background-position: 0 -31px;
}
/* line 466, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-0 .person-minus {
  margin-right: 2px;
  margin-top: 5px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  background-position: -26px 0px;
}
/* line 473, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .person-0 .person-minus:hover {
  background-position: -26px -31px;
}
/* line 477, ../sass/style.scss */
body .main-bg .container .left-container .pc-span5 .left-bottom .input-btn {
  width: 60%;
  margin: 30px 0 30px 20%;
  height: 38px;
  border-radius: 19px;
  background: #f98c03;
  border: 1px solid #f98c03;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  outline: none;
}
/* line 492, ../sass/style.scss */
body .main-bg .container .pc-span3 {
  float: right;
}
/* line 494, ../sass/style.scss */
body .main-bg .container .pc-span3 h1 {
  font-size: 39px;
  color: #fff;
  font-style: normal;
  margin: 60px 10px;
  text-shadow: 0 0 150px #fff;
}
/* line 502, ../sass/style.scss */
body .main-bg .container .sale {
  width: 100%;
  margin-top: 20px;
}
/* line 505, ../sass/style.scss */
body .main-bg .container .sale .title {
  text-align: center;
}
/* line 507, ../sass/style.scss */
body .main-bg .container .sale .title h3 {
  height: 60px;
  padding: 16px 0;
  border-radius: 5px 5px 0 0;
  background: rgba(26, 117, 188, 0.81);
  color: #fff;
  font-size: 18px;
  font-weight: 100;
}
/* line 515, ../sass/style.scss */
body .main-bg .container .sale .title h3 a {
  font-size: 14px;
  color: #fff;
  float: right;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 525, ../sass/style.scss */
body .main-bg .container .sale .salelist {
  width: 100%;
  height: 260px;
  background-color: #1a77be;
  background-image: linear-gradient(to bottom, #1a77be 0%, #135695 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 532, ../sass/style.scss */
body .main-bg .container .sale .salelist div {
  width: 166.656px;
  height: 257px;
  padding: 45px 20px;
  float: left;
  overflow: hidden;
}
/* line 538, ../sass/style.scss */
body .main-bg .container .sale .salelist div span {
  width: 31%;
  height: 50px;
  float: left;
  margin: 0;
  border-radius: 3px;
  background: #fff;
}
/* line 546, ../sass/style.scss */
body .main-bg .container .sale .salelist div .mid {
  margin: 0 3px;
}
/* line 549, ../sass/style.scss */
body .main-bg .container .sale .salelist div table {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #4582bb;
}
/* line 553, ../sass/style.scss */
body .main-bg .container .sale .salelist div table tr {
  width: 100%;
}
/* line 555, ../sass/style.scss */
body .main-bg .container .sale .salelist div table tr td {
  width: 33%;
  color: #5792c9;
  text-align: center;
}
/* line 563, ../sass/style.scss */
body .main-bg .container .sale .salelist div .price {
  color: #ff9600;
  font-size: 25px;
  position: relative;
  top: 15px;
  left: 30%;
  font-weight: 700;
}
/* line 571, ../sass/style.scss */
body .main-bg .container .sale .salelist div .price:after {
  content: "CNY";
  font-size: 8px;
  position: relative;
  font-weight: 100;
  left: 10px;
  top: -10px;
}
/* line 579, ../sass/style.scss */
body .main-bg .container .sale .salelist div .addr, body .main-bg .container .sale .salelist div .stime {
  text-align: center;
  color: #ff9600;
  font-size: 14px;
  margin-top: 25px;
}
/* line 585, ../sass/style.scss */
body .main-bg .container .sale .salelist div .stime {
  margin-top: 5px;
}
/* line 588, ../sass/style.scss */
body .main-bg .container .sale .salelist div .overplus {
  display: none;
}
/* line 592, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover {
  width: 166.656px;
  height: 290px;
  padding: 45px 20px;
  float: left;
  background: #ff9600;
  border-radius: 0 0 5px 5px;
}
/* line 599, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover table {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid #fff;
}
/* line 603, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover table tr {
  width: 100%;
}
/* line 605, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover table tr td {
  width: 33%;
  color: #fff;
  text-align: center;
}
/* line 613, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover .price {
  color: #fff;
  font-size: 25px;
  position: relative;
  top: 15px;
  left: 30%;
  font-weight: 700;
}
/* line 621, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover .price:after {
  content: "CNY";
  font-size: 8px;
  position: relative;
  font-weight: 100;
  left: 10px;
  top: -10px;
}
/* line 629, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover .addr, body .main-bg .container .sale .salelist div:hover .stime {
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-top: 25px;
}
/* line 635, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover .stime {
  margin-top: 5px;
}
/* line 638, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover .overplus {
  margin-top: 18px;
  padding-top: 10px;
  display: block;
  color: #fff;
  font-size: 14px;
  border-top: 1px solid #fff;
}
/* line 645, ../sass/style.scss */
body .main-bg .container .sale .salelist div:hover .overplus .overplus-n {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
}
/* line 654, ../sass/style.scss */
body .main-bg .container .roll {
  margin-top: 50px;
  width: 100%;
  border-radius: 5px;
}
/* line 658, ../sass/style.scss */
body .main-bg .container .roll .roll-left {
  background: #fff;
  box-shadow: 0 3px 0px #e3e4e8;
  float: left;
  width: 57%;
}
/* line 663, ../sass/style.scss */
body .main-bg .container .roll .roll-left .photo {
  height: 250px;
}
/* line 666, ../sass/style.scss */
body .main-bg .container .roll .roll-left .photo-bottom {
  width: 100%;
  padding: 9px;
  height: 60px;
  background: #ccc;
}
/* line 673, ../sass/style.scss */
body .main-bg .container .roll .roll-right {
  box-shadow: 0 3px 0px #e3e4e8;
  padding: 6px;
  width: 38%;
  float: right;
  background: #fff;
  height: 310px;
  border-radius: 5px 5px 0 0;
}
/* line 681, ../sass/style.scss */
body .main-bg .container .roll .roll-right table {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}
/* line 685, ../sass/style.scss */
body .main-bg .container .roll .roll-right table tr td {
  text-align: center;
  padding: 14px 0;
  font-weight: 700;
  width: 33.333333%;
  vertical-align: bottom;
}
/* line 693, ../sass/style.scss */
body .main-bg .container .roll .roll-right table tr td:first-child {
  color: #2f2f2f;
}
/* line 696, ../sass/style.scss */
body .main-bg .container .roll .roll-right table tr .time {
  font-size: 12px;
  font-family: initial;
}
/* line 703, ../sass/style.scss */
body .main-bg .container .roll .roll-right table tr .price:after {
  content: "CNY";
  font-size: 8px;
  position: relative;
  top: -5px;
  left: 5px;
  font-weight: 700;
  font-family: SimHei;
}
/* line 714, ../sass/style.scss */
body .main-bg .container .roll .roll-right table tr:hover {
  border-radius: 5px;
  background: #f0f1f2;
}
/* line 719, ../sass/style.scss */
body .main-bg .container .roll .roll-right i {
  width: 36px;
  display: inline-block;
  height: 40px;
  margin-left: 2px;
  background: url("../images/icons-s629bad6460.png");
}
/* line 726, ../sass/style.scss */
body .main-bg .container .roll .roll-right div {
  float: left;
  width: 278px;
  height: 40px;
  border-radius: 20px;
  background: #f8f8f8;
  margin-top: 10px;
  box-shadow: 0 1px 3px #CACACA inset;
}
/* line 735, ../sass/style.scss */
body .main-bg .container .roll .roll-right div .start {
  float: left;
  background-position: 0 -2300px;
}
/* line 739, ../sass/style.scss */
body .main-bg .container .roll .roll-right div input {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 10px;
  font-size: 16px;
}
/* line 749, ../sass/style.scss */
body .main-bg .container .roll .roll-right .sub, body .main-bg .container .roll .roll-right a {
  width: 36px;
  display: inline-block;
  height: 40px;
  float: left;
  background-color: transparent;
  border: 0;
  background-image: url("../images/icons-s629bad6460.png");
  background-repeat: no-repeat;
  background-position: 0 -700px;
  margin: 7px;
}
/* line 761, ../sass/style.scss */
body .main-bg .container .roll .roll-right a {
  margin: 7px 0 0 0;
  background-position: 0 -2150px;
}
/* line 767, ../sass/style.scss */
body .main-bg .container .container-nei {
  position: relative;
  top: 350px;
  margin-top: 30px;
  width: 100%;
  height: 208px;
  border-radius: 5px;
  background-image: url("../images/20150616112713_nd5iibhku5.png");
}
/* line 776, ../sass/style.scss */
body .main-bg .container .img-list {
  position: relative;
  top: 290px;
}
/* line 779, ../sass/style.scss */
body .main-bg .container .img-list a {
  float: left;
}
/* line 781, ../sass/style.scss */
body .main-bg .container .img-list a img {
  display: block;
  margin: 0 4px;
}
/* line 785, ../sass/style.scss */
body .main-bg .container .img-list a .list-start {
  margin: 0 4px 0 0;
}
/* line 788, ../sass/style.scss */
body .main-bg .container .img-list a .list-end {
  margin: 0 0 0 4px;
}
/* line 791, ../sass/style.scss */
body .main-bg .container .img-list a .next {
  display: none;
}
/* line 800, ../sass/style.scss */
body .foot {
  position: relative;
  top: 340px;
  width: 100%;
  background: #fff;
  padding: 69px 0;
}
/* line 806, ../sass/style.scss */
body .foot .container-foot {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}
/* line 810, ../sass/style.scss */
body .foot .container-foot .foot-left {
  float: left;
  width: 600px;
  border-right: 1px solid #e3e4e5;
}
/* line 815, ../sass/style.scss */
body .foot .container-foot .foot-left .foot-top .foot-logo {
  height: 64px;
  background: url(../images/logo-footer.png) no-repeat -8px -7px;
}
/* line 819, ../sass/style.scss */
body .foot .container-foot .foot-left .foot-top .telNum {
  position: relative;
  top: -65px;
  left: 250px;
}
/* line 824, ../sass/style.scss */
body .foot .container-foot .foot-left .foot-top .sina {
  position: relative;
  left: 350px;
  top: -75px;
}
/* line 829, ../sass/style.scss */
body .foot .container-foot .foot-left .foot-top .tencent-weibo {
  position: relative;
  top: -75px;
  left: 370px;
}
/* line 836, ../sass/style.scss */
body .foot .container-foot .foot-left table thead {
  font-size: 18px;
  font-weight: 700;
  color: #8f8f8f;
}
/* line 840, ../sass/style.scss */
body .foot .container-foot .foot-left table thead td {
  width: 150px;
  padding-bottom: 22px;
}
/* line 846, ../sass/style.scss */
body .foot .container-foot .foot-left table tbody td {
  padding-bottom: 6px;
}
/* line 848, ../sass/style.scss */
body .foot .container-foot .foot-left table tbody td a {
  color: #878787;
  text-decoration: none;
}
/* line 852, ../sass/style.scss */
body .foot .container-foot .foot-left table tbody td a:hover {
  color: #2b4965;
}
/* line 860, ../sass/style.scss */
body .foot .container-foot .foot-right .foot-rl {
  padding-left: 55px;
  float: left;
  text-align: center;
}
/* line 864, ../sass/style.scss */
body .foot .container-foot .foot-right .foot-rl h4 {
  color: #ff8e00;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
}
/* line 870, ../sass/style.scss */
body .foot .container-foot .foot-right .foot-rl p {
  margin-bottom: 14px;
  color: #ff8e00;
}
/* line 875, ../sass/style.scss */
body .foot .container-foot .foot-right .foot-rr {
  padding-left: 45px;
  float: right;
  text-align: center;
}
/* line 879, ../sass/style.scss */
body .foot .container-foot .foot-right .foot-rr h4 {
  color: #7ab60a;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
}
/* line 885, ../sass/style.scss */
body .foot .container-foot .foot-right .foot-rr p {
  margin-bottom: 14px;
  color: #7ab60a;
}
/* line 890, ../sass/style.scss */
body .foot .container-foot .foot-right .input-l {
  margin-left: 55px;
  margin-top: 40px;
  padding-left: 8px;
  width: 262px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #e3e4e8;
  color: #2f2f2f;
  font-size: 16px;
  font-weight: bold;
  font-family: 'microsoft yahei';
}
/* line 903, ../sass/style.scss */
body .foot .container-foot .foot-right .btn-foot {
  position: relative;
  left: -6px;
  top: -1px;
  color: #fff;
  background: #155b9c;
  margin: 0px;
  width: 75px;
  height: 40px;
  border: 1px solid #155b9c;
  border-radius: 4px;
}
/* line 917, ../sass/style.scss */
body .foot .foot-bottom {
  width: 1000px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 20%;
  height: 90px;
}
/* line 923, ../sass/style.scss */
body .foot .foot-bottom .bt {
  padding-left: 130px;
  width: 300px;
}
/* line 927, ../sass/style.scss */
body .foot .foot-bottom p {
  color: #497eb2;
  font-size: 12px;
  width: 300px;
}
/* line 932, ../sass/style.scss */
body .foot .foot-bottom img {
  position: relative;
  left: 260px;
  top: -35px;
}
